# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data files (DON'T COMMIT CSVs)
data/
*.csv

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
